<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estrutura de pagina</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>

    </header>

    <nav>

    </nav>

    <main>
        <section id="section1">

            <article>

            </article>

            <article>

            </article>

        </section>

        <section id="section2">

            <article>

            </article>

            <article>

            </article>
            
        </section>

    </main>

    <footer>

    </footer>
</body>
</html>